{% from "partials/icons.njk" import github, mail, rss %}

{% macro icon(name) %}
  {% if name === "github" %}{{ github() }}
  {% elif name === "mail" %}{{ mail() }}
  {% elif name === "rss" %}{{ rss() }}
  {% endif %}
{% endmacro %}

{% macro postEntry(post) %}
<article class="post-entry">
  <header class="entry-header">
    <h2>{{ post.data.title }}</h2>
  </header>
  <section class="entry-content">
    <p>{% if post.data.description %}{{ post.data.description }}{% else %}{{ post.templateContent | excerpt }}…{% endif %}</p>
  </section>
  <footer class="entry-footer">
    日期：{{ post.date | readableDate }} &nbsp;|&nbsp; 预计阅读时间：{{ post.templateContent | readTime }} 分钟 &nbsp;|&nbsp; 作者：{{ site.author }}
  </footer>
  <a class="entry-link" aria-label="post link to {{ post.data.title }}" href="{{ post.url }}"></a>
</article>
{% endmacro %}

{% macro socialIcons() %}
<div class="social-icons">
  {% for s in site.socials %}
  <a href="{{ s.url }}" target="{{ '_blank' if s.external else '_self' }}" rel="noopener noreferrer me" title="{{ s.name }}">
    {{ icon(s.icon) }}
  </a>
  {% endfor %}
</div>
{% endmacro %}
