---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/" rel="alternate"/>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author }}</name>
  </author>
  <updated>{{ collections.posts[0].date | dateToRfc3339 }}</updated>
  {%- for post in collections.posts %}
  <entry>
    <title>{{ post.data.title | escape }}</title>
    <link href="{{ site.url }}{{ post.url }}"/>
    <id>{{ site.url }}{{ post.url }}</id>
    <published>{{ post.date | dateToRfc3339 }}</published>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <summary>{{ (post.data.description or (post.templateContent | excerpt)) | escape }}</summary>
  </entry>
  {%- endfor %}
</feed>
