{% extends "layouts/base.njk" %}
{% from "macros.njk" import postEntry, socialIcons with context %}
{% set bodyClass = "list" %}

{% block content %}
<article class="first-entry home-info">
  <header class="entry-header">
    <h1>{{ site.homeTitle }}</h1>
  </header>
  <section class="entry-content">
    <p>{{ site.homeIntro }}</p>
  </section>
  <footer class="entry-footer">
    {{ socialIcons() }}
  </footer>
</article>

{% for post in collections.posts %}
{{ postEntry(post) }}
{% endfor %}
{% endblock %}
