---
permalink: /search-index.json
eleventyExcludeFromCollections: true
---
[
{%- for post in collections.posts -%}
{
  "title": {{ post.data.title | dump | safe }},
  "url": "{{ post.url }}",
  "date": "{{ post.date | readableDate }}",
  "snippet": {{ ((post.data.description or (post.templateContent | excerpt)) | truncate(120)) | dump | safe }},
  "content": {{ (post.data.title ~ " " ~ (post.data.tags | join(" ")) ~ " " ~ (post.templateContent | plainText)) | truncate(8000) | dump | safe }}
}{{ "," if not loop.last }}
{%- endfor -%}
]
