---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "/tags/{{ tag.name | slugify }}/"
---
{% extends "layouts/base.njk" %}
{% from "macros.njk" import postEntry with context %}
{% set bodyClass = "list" %}

{% block content %}
<header class="page-header">
  <h1>{{ tag.name }}</h1>
</header>

{% for post in collections.posts %}
{% if tag.name in post.data.tags %}
{{ postEntry(post) }}
{% endif %}
{% endfor %}
{% endblock %}
